*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    background: gray;
    padding: 10px;
    margin: 10px 50px;
    font-family: roboto, sans sans-serif;
    font-size: 1.2rem;
}
.navEnlace{
    color: white;
    padding: 10px 30px;
    margin-top: 0.5vh;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.navEnlace:hover{
    font-weight: bold;
    color: black;
}
.logo{
    width: 80px;
    justify-content: center;
}