#titulo {
    color: tomato;
}
p.texto {
    color: slateblue;
}
p.especial{
    color: mediumseagreen;
}
div p{
    color: aquamarine;
}
div h2, div h3{
    color: brown;
}

*{
    font-size: 24px;
    color: black
}
/*.color{
    color: red ;
}*/
.color{
    /* border: 5px black solid; */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
}
#fondo{
    background-color: red;
  /*   opacity: 0.3; */
    height: 200px;
    background-image: url("../miweb/Images/coffee.jpeg");
    background-size: 200px 400px;
    background-repeat: no-repeat;
}

