body{
    background: rgb(220, 220, 238);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorPadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    padding: 20px;
    background: blue;
    height: 600px;
}
.contenedorPadre div{
    width: 100px;
    height: 100px;
    background: red;
    border: 1px solid black ;
    font-size: 30px;
    text-align: center;
  /*   margin: 15px; */
}